<!DOCTYPE html >
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <!-- Bootstrap -->
    <link href="../../static/pay/portal/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        h1,h4{
            color: #606266;
        }
        #app{
            margin-left: 30px;
            margin-right: 35px;
        }
        #suggestion{
            margin-top: 20px;
        }
        #payPoRelationDetail{
            font-size: 25px;
        }
        #agree,#refuse{
            font-size: 25px;
            margin-top: 20px;
            margin-left: 230px;
        }
        .el-table{
            overflow:visible !important;
            font-size: 17px;
        }
    </style>
</head>
<body>
<div id="app">
    <div>
        <h2>付款单详情</h2>
        <h4>付款编号: {{payOrder.payNo}}</h4>
        <h4>项目: {{payOrder.projectName}}</h4>
        <h4>收款经营单位: {{payOrder.payeeName}}</h4>
        <h4>付款金额: {{payOrder.payAmount}} 元</h4>
        <h4>预收金额: {{payOrder.advanceAmount}} 元</h4>
        <h4>备注: {{payOrder.remark}}</h4>
    </div>
    <hr>

    <el-button type="primary" style="font-size: 18px" icon="el-icon-reading" v-if='flag==true' @click='payPoRelationDetail'>付款订单明细</el-button>
    <el-button type="primary" style="font-size: 18px" icon="el-icon-notebook-1" v-if='flag==false' @click='payPoRelationDetail'>付款订单明细</el-button>
    <el-table
        :data="payPoOrderDetail"
        border
        :summary-method="getSummaries"
        v-if="seen"
        show-summary
        style="width: 100%; margin-top: 10px">
        <el-table-column prop="id" label="ID"></el-table-column>
        <el-table-column prop="barCode" label="商品国际码"></el-table-column>
        <el-table-column prop="goodsName" label="商品名称"></el-table-column>
        <el-table-column prop="unit" label="商品单位"></el-table-column>
        <el-table-column prop="goodsNum" label="采购数量"></el-table-column>
        <el-table-column prop="goodsPrice" label="采购单价(元)"></el-table-column>
        <el-table-column prop="requiredSendPrice" label="销售单价(元)"></el-table-column>
        <el-table-column prop="goodsAmount" label="采购金额(元)"></el-table-column>
        <el-table-column prop="arrivalAmount" label="销售金额(元)"></el-table-column>
        <el-table-column prop="payAmount" label="本次付款金额(元)"></el-table-column>
        <el-table-column prop="discountRateStr" label="折扣率"></el-table-column>
        <el-table-column prop="grossProfitRateStr" label="毛利率"></el-table-column>
    </el-table>
    <!--<p class="btn btn-primary btn-sm" @click="payAdvanceDetail()">付款预收明细</p>-->
    <h2>审核记录</h2>
    <div v-for="record in verifyRecords">
        <h4>流程节点：{{record.stateName}}</h4>
        <h4>处理人：{{record.dealName}}</h4>
        <h4>处理意见：{{record.suggestion}}</h4>
        <h4>处理时间：{{record.dealTime}}</h4>
        <h4>处理状态：{{record.auditStateName}}</h4>
        <hr>
    </div>
    <div class="form-group">
        <textarea cols="30" rows="10" class="form-control" v-model="suggestion"></textarea>
    </div>
    <p id="agree" class="btn btn-primary btn-lg" @click="verifyPass()">同意</p>
    <p id="refuse" class="btn btn-danger btn-lg" @click="verifyRefuse()">驳回</p>
</div>
</body>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="../../static/pay/portal/js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="../../static/pay/portal/js/bootstrap.min.js"></script>
<script src="../../static/pay/portal/js/vue.min.js"></script>
<script src="../../static/pay/portal/js/axios.min.js"></script>
<script src="../../static/pay/portal/js/jquery.cookie.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    const vm = new Vue({
        el: '#app',
        data() {
            return {
                flag:true,
                auditId: '',
                payId: '',
                suggestion: '',
                payOrder: {},
                verifyRecords: [],
                payPoOrderDetail: [],
                seen: false,
                // domain: 'http://localhost:9090/'
                domain: 'http://devwx.asters.cn/'
                // domain: 'http://dev.asters.cn:9090/'
                // domain: 'http://xcra5j.natappfree.cc/'
            }
        },
        mounted() {
            this.list();
            this.auditRecords();
        },
        // filters(value){
        //     let realVal = parseFloat(value).toFixed(2);
        //     return realVal
        // },
        methods: {
            list() {
                const url = this.domain + "pay/payOrderDetail";
                axios.get(url, {
                    params: {
                        payId: $.cookie('payId')
                    }
                })
                    .then((response) => {
                        console.log(response);
                        this.payOrder = response.data.data.payOrderResDto;
                        console.log(this.payOrder);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            payPoRelationDetail() {
                this.flag = !this.flag;
                if(this.flag==true){
                    this.seen=false;
                }else if(this.flag==false){
                    this.seen = true;
                }
                const url = this.domain + "pay/payPoRelationDetail";
                console.log($.cookie('payId'));
                axios.get(url, {
                    params: {
                        payId: $.cookie('payId')
                    }
                })
                    .then((response) => {
                        console.log(response);
                        this.payPoOrderDetail = response.data.data.payPoRelationResDto;
                        console.log(this.payOrderDetail);
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            payAdvanceDetail() {
                //跳转单据详情页面
                window.location.href = "payAdvanceDetail.html";
            },
            auditRecords() {
                const url = this.domain + "pay/auditRecords";
                axios.get(url, {
                    params: {
                        projectItemId: $.cookie('payId')
                    }
                })
                    .then((response) => {
                        console.log("审核记录");
                        console.log(response);
                        this.verifyRecords = response.data.data.items;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            verifyPass() {
                if (this.suggestion == '') {
                    this.$message({
                        showClose: true,
                        message: '错了哦，请填写处理意见',
                        type: 'error'
                    });
                    return false;
                }
                const url = this.domain + "pay/verifyPass";
                axios.get(url, {
                    params: {
                        auditId: $.cookie('auditId'),
                        projectItemId: $.cookie('payId'),
                        suggestion: this.suggestion,
                        operation: 1,
                        state: $.cookie('state')
                    }
                })
                    .then((response) => {
                        this.$message({
                            showClose: true,
                            message: '恭喜你，审核通过付款单',
                            type: 'success'
                        });
                        window.location.href = this.domain + "pay/portal/waitingPayOrderList";

                    })
                    .catch((error) => {
                        console.log(error);
                        this.$message({
                            showClose: true,
                            message: '出错了哦，审核通过付款单失败',
                            type: 'error'
                        });
                        window.location.href = this.domain + "pay/portal/waitingPayOrderList";
                    });
            },
            verifyRefuse() {
                const url = this.domain + "pay/verifyPass";
                axios.get(url, {
                    params: {
                        auditId: $.cookie('auditId'),
                        projectItemId: $.cookie('payId'),
                        suggestion: this.suggestion,
                        operation: 2
                    }
                })
                    .then((response) => {
                        this.$message({
                            showClose: true,
                            message: '您已经驳回付款单',
                            type: 'success'
                        });
                        window.location.href = this.domain + "pay/portal/waitingPayOrderList";
                    })
                    .catch((error) => {
                        console.log(error);
                        this.$message({
                            showClose: true,
                            message: '错了哦，驳回付款单失败',
                            type: 'error'
                        });
                    });
            },
            getSummaries(param) {
                const { columns, data } = param;
                const sums = [];
                columns.forEach((column, index) => {
                    if (index === 0) {
                        sums[index] = '总价';
                        return;
                    }
                    const values = data.map(item => Number(item[column.property]));
                    if (!values.every(value => isNaN(value))) {
                        sums[index] = values.reduce((prev, curr) => {
                            const value = Number(curr);
                            if (!isNaN(value)) {
                                return prev + curr;
                            } else {
                                return prev;
                            }
                        }, 0);
                        if (index === 1){
                            sums[index] = ''
                        }else if (index === 4){
                            sums[index] += ''
                        }else if(index === 5){
                            parseFloat(sums[index]).toFixed(2);
                        }else{
                            sums[index] += ' 元';
                        }
                    } else {
                        sums[index] = '';
                    }
                });
                return sums;
            }

        }
    })
</script>
</html>
