<!DOCTYPE html>
<html lang="zh-CN" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>付款单</title>

    <!-- Bootstrap -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        h1, h4 {
            color: #606266;
        }

        #myTab a {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="container-fluid" id="app">
    <div class="row-fluid">
        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="active"><a href="#bulletin" role="tab">待处理</a></li>
            <!--            <li><a href="#rule" role="tab" >已处理</a></li>-->
            <li><a @click="resolved" href="#rule" role="tab">已处理</a></li>
            <li><a href="#forum" role="tab">抄送我</a></li>
        </ul>
        <!-- 选项卡面板 -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade in active" id="bulletin">
                <div v-for="(item,i) in items">
                    <h5>单据编号: {{item.poNo}}</h5>
                    <h5>单据类型: {{item.poTypeName}}</h5>
                    <h5>项目: {{item.projectName}}</h5>
                    <h5>金额: {{item.amount}} 元</h5>
                    <h5>审核状态: <span class="label label-info">{{item.stateName}}</span></h5>
                    <h5>申请时间： {{item.proposerAt}}</h5>
                    <h5>申请人: {{item.proposer}}</h5>
                    <p @click="detail(item.id,item.poId,item.projectName,item.state)" class="btn btn-primary btn-sm">查看详情</p>
                    <hr>
                </div>
            </div>
            <div class="tab-pane fade" id="rule">
                <div v-for="(deal,i) in dealOrderList">
                    <h5>单据编号: {{deal.poNo}}</h5>
                    <h5>单据类型: {{deal.poTypeName}}</h5>
                    <h5>项目: {{deal.projectName}}</h5>
                    <h5>金额: {{deal.amount}} 元</h5>
                    <h5>审核状态: <span class="label label-success">{{deal.stateName}}</span></h5>
                    <h5>申请时间： {{deal.proposerDate}}</h5>
                    <h5>申请人: {{deal.proposer}}</h5>
                    <p @click="detail(deal.id,deal.poId,deal.projectName,deal.state)" class="btn btn-primary btn-sm">查看详情</p>
                    <hr>
                </div>
            </div>
            <div class="tab-pane fade" id="forum">
                抄送我
            </div>
        </div>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="../../static/js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/vue.min.js"></script>
<script src="../../static/js/axios.min.js"></script>
<script src="../../static/js/jquery.cookie.js"></script>

<script>
    $(function () {
        $("#myTab a").click(function (e) {
            e.preventDefault();
            $(this).tab("show");
        });
        $("#myTab").on("show.bs.tab", function (e) {
            $(e.target).css('outline', '1px solid black');
        }).on("hide.bs.tab", function (e) {
            $(e.target).css('outline', 'none');
        })
    });

    const vm = new Vue({
        el: '#app',
        data: {
            items: [],
            dealOrderList: [],
            // domain: 'http://localhost:9090/'
            // domain: 'http://devwx.asters.cn/'
            domain: 'http://wx.asters.cn/'
            // domain: ' http://xcra5j.natappfree.cc/'
        },
        mounted() {
            this.list();
        },
        methods: {
            list() {
                const url = this.domain + "pay/waitingAuditOrder";
                axios.get(url)
                    .then((response) => {
                        this.items = response.data.data.items;
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            },
            detail(id, payId,projectName, state) {
                if (state === 100) {
                    if (projectName.indexOf("代发") !== -1){
                        $.cookie('handledPayId', payId);
                        window.location.href = this.domain + "pay/portal/handledSubstituteOrderDetail";
                    }else {
                        $.cookie('handledPayId', payId);
                        window.location.href = this.domain + "pay/portal/handledSaleOrderDetail";
                    }
                } else {
                    if (projectName.indexOf("代发") !== -1){
                        $.cookie('payId', payId);
                        $.cookie('auditId', id);
                        $.cookie('state', state);
                        window.location.href = this.domain + "pay/portal/paySubstituteDetail";
                    }else {
                        $.cookie('payId', payId);
                        $.cookie('auditId', id);
                        $.cookie('state', state);
                        window.location.href = this.domain + "pay/portal/paySaleDetail";
                    }

                }
            },
            resolved() {
                const url = this.domain + "pay/resolvedOrderList";
                axios.get(url)
                    .then((response) => {
                        vm.dealOrderList = response.data.data;
                        console.log(this.dealOrderList);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        }
    })

</script>
</body>
</html>
