<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <template>
        <div id="qrCode" ref="qrCodeDiv"></div>
    </template>
</div>

<script src="../../static/js/vue.min.js"></script>
<script src="../../static/js/qrcode.min.js"></script>
<script>
    const vm = new Vue({
        el: '#app',
        name: "qrCode",
        data() {
            return {}
        },
        mounted() {
            this.$nextTick(() => {
                this.bindQRCode();
            });
        },
        methods : {
            bindQRCode() {
                new QRCode(this.$refs.qrCodeDiv, {
                    text: 'https://dis.asters.cn/',
                    width: 200,
                    height: 200,
                    colorDark: "#000000", //二维码颜色
                    colorLight: "#ffffff", //二维码背景色
                    correctLevel: QRCode.CorrectLevel.L//容错率，L/M/H
                })
            }
        }
    })
</script>
</body>
</html>
