<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <div class="block">
        <el-timeline>
            <el-timeline-item
                v-for="(activity, index) in activities"
                :key="index"
                :icon="activity.icon"
                :type="activity.type"
                :color="activity.color"
                :size="activity.size"
                :timestamp="activity.timestamp">
                流程节点：{{activity.stateName}}<br>
                处理人：{{activity.dealName}}<br>
                处理意见：{{activity.suggestion}}<br>
                处理时间：{{activity.timestamp}}<br>
                处理状态：{{activity.auditStateName}}
            </el-timeline-item>
        </el-timeline>
    </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                activities: [{
                    stateName:'已提交',
                    dealName:'王大锤',
                    suggestion: '支持使用图标',
                    timestamp: '2018-04-12 20:46',
                    auditStateName:'已提交',
                    size: 'large',
                    type: 'primary'
                }, {
                    stateName:'已提交',
                    dealName:'刘墉',
                    suggestion: '支持自定义颜色',
                    timestamp: '2018-04-03 20:46',
                    auditStateName:'已提交',
                    color: '#0bbd87'
                }, {
                    stateName:'已提交',
                    dealName:'王大锤',
                    suggestion: '支持自定义尺寸',
                    timestamp: '2018-04-03 20:46',
                    auditStateName:'已提交',
                    size: 'large'
                }, {
                    stateName:'已提交',
                    dealName:'王大锤',
                    suggestion: '默认样式的节点',
                    timestamp: '2018-04-03 20:46',
                    auditStateName:'已提交',
                    size: 'large'
                }]
            };
        }
    })
</script>
</html>
