<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap Table!</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css">

</head>
<body>
<div id="table">
<!--    <button type="button" class="btn btn-default" aria-label="Left Align" v-show='flag==true' @click='switchChange'>-->
<!--        <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>-->
<!--    </button>-->
<!--    <button type="button" class="btn btn-default" aria-label="Left Align" v-show='flag==false' @click='switchChange'>-->
<!--        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>-->
<!--    </button>-->
    <bootstrap-table :columns="columns" :data="data" :options="options">
    </bootstrap-table>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table-vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.4/dist/locale/bootstrap-table-zh-CN.min.js"></script>

<script>
    $(function() {
        const vm = new Vue({
            el: '#table',
            components: {
                'BootstrapTable': BootstrapTable
            },
            data: {
                flag:true,
                seen: false,
                domain: 'http://localhost:9090/',
                columns: [
                    {
                        field: 'state',
                        checkbox: true
                    },
                    {
                        field: 'orderNo',
                        title: '订单编号'
                    },
                    {
                        field: 'goodsNo',
                        title: '商品编号'
                    },
                    {
                        field: 'goodsName',
                        title: '商品名称'
                    },
                    {
                        field: 'orderTime',
                        title: '订单日期'
                    },
                    {
                        field: 'goodsNum',
                        title: '采购数量'
                    },
                    {
                        field: 'goodsPrice',
                        title: '采购单价'
                    },
                    {
                        field: 'requiredSendPrice',
                        title: '销售价'
                    },
                    {
                        field: 'discountRateStr',
                        title: '折扣率'
                    },
                    {
                        field: 'pledge',
                        title: '质押比例'
                    },
                    {
                        field: 'goodsAmount',
                        title: '采购金额'
                    },
                    {
                        field: 'arrivalAmount',
                        title: '已收货金额'
                    },
                    {
                        field: 'payAmount',
                        title: '本次付款金额'
                    }
                ],
                data: [],
                options: {
                    search: true,
                    showColumns: true,
                    pagination: true,
                    pageSize: 25, //默认每页显示25条记录
                    pageList: [25, 30, 50, 100], //可以选择”每页显示10/25/50/100条记录，用于设置选择每页显示的条数
                    showRefresh: false, //默认为false隐藏刷新按钮，设为true显示
                    showToggle: true, //默认为false隐藏视图切换按钮，设为true显示
                    locale: "zh-CN",
                    striped: true //默认false，当设为true，则每行表格的背景会显示灰白相间
                }
            },
            created(){

            },
            mounted() {
                this.payPoRelationDetail();
            },
            methods:{
                // switchChange(){
                //     this.flag = !this.flag;
                //     if(this.flag==true){
                //         this.seen=false;
                //         console.log(this.seen);
                //     }else if(this.flag==false){
                //         console.log(this.seen);
                //         this.seen = true;
                //     }
                // },
                payPoRelationDetail() {
                    const url = "http://localhost:9090/pay/payPoRelationDetail";
                    axios.get(url, {
                        params: {
                            payId: 64
                        }
                    })
                        .then((response) => {
                            console.log(response);
                            vm.data.data = response.data.data.payPoRelationResDto;
                            console.log(vm.data.data);
                        })
                        .catch((error) => {
                            console.log(error);
                        })
                }
            }
        })
    })
</script>
</body>
</html>
